body, table{
    width: 100%;
    table-layout: auto;
}

table{
    border-collapse: collapse;
}
/* table.list{
    width:100%;
} */

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}
input[type=date],input[type=text], input[type=email], input[type=number], input[type=time], select, fieldset, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text], select{
    text-transform: uppercase;
}
input[type=radio] {
     margin: 10px 10px;
}

input[type=submit]{
    width: 30%;
    background-color: white;
    color: teal;
    border-color: #04AA6D;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid;
    border-radius: 30px;
    cursor: pointer;

}

input[type=submit]:hover{
    background-color: #04AA6D;
    color: white;
}
/* form div.form-action-buttons{
    text-align: left;

} */

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}
.linkActions{
    margin-bottom: 5px;
}
label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}
.title {
    -webkit-text-size-adjust: 100%;
    pointer-events: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    font-family: rockwell;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0em;
    line-height: 1.2em;
    /* text-transform: uppercase; */
    color: #9bc0b4;
    /* margin-top: 15px; */
    white-space: pre-wrap;
}
h2 {
    color: #9bc0b4;
}
label {
    color:teal;
    font-weight:500;
}

#informe {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#informe td, #informe th {
  border: 1px solid #ddd;
  padding: 8px;
}

#informe tr:nth-child(even){background-color: #f2f2f2;}

#informe tr:hover {
    background-color: rgb(184, 226, 198);
    border: 2px solid rgb(4, 128, 11);
}

#informe th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

#informe caption {

    font-family: rockwell;
    /* font-weight: bold; */
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    color: #9bc0b4;;
}

.content {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}